---
title: "The remote future: How tech companies are helping their remote teams connect"
author: Ariel Camus
author_gitlab: arielcamus
author_twitter: arielcamus
guest: true
categories: culture
ee_cta: false
image_title: '/images/blogimages/remote-future.jpg'
description: "Resistance to remote work often stems from fears of reduced collaboration, isolation, and complexity – here's why those fears are unfounded."
tags: remote work
---

A few weeks ago, I was surprised when I saw the following [tweet](https://twitter.com/ManuKumar/status/972548351123062784) from [Manu Kumar](https://twitter.com/ManuKumar), investor of Lyft and Twilio, among many other successful startups:

![Manu Kamar tweet](/images/blogimages/remote-future-tweet.png){: .shadow.center.medium}

Manu Kumar was known for his clear determination to invest only in startups whose team were at a bike distance from his house in Silicon Valley. And maybe he still wants the founders to be close to him, but he is also clearly seeing and accepting the huge problem companies are facing when trying to find talent.

However, **in order to make that remote future possible, we need to look at why** companies have resisted the idea of creating and managing remote teams. Managers and founders are afraid that remote collaboration will prevent their employees from having impromptu conversations, which will then kill innovation within the organization. There are also issues connected to trust between managers and the people that report to them, interpersonal problems due to isolation, increased complexity in communication, and so on.

However, **companies are being forced to start considering hiring remote employees if they want access to the best talent** they can afford. An outdated education system and strict immigration laws are making this a real issue. Isn’t that ironic considering the Internet has made access to knowledge and distributed collaboration easier than ever?

## How to make remote work work

The best way to understand what innovation in the remote workspace is like is to look at what companies with distributed teams are already doing. And if there is something they have in common, it is that **they all create plenty of opportunities for their team members to have face-to-face conversations**.

### Encourage virtual face-to-face time

GitLab, for example, has created an internal system to coordinate weekly “[digital coffee breaks](/company/culture/all-remote/tips/#coffee-chats)” between its employees, who are encouraged to dedicate a few hours a week to having social calls with any teammate. They can also join a Slack channel where, every Monday, a bot will pair them with a random team member. This way, GitLab is creating intentional spaces for spontaneous and personal connection to happen between its employees.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

However, no video conference or digital solution can replace actual face-to-face communication.

Anecdotally, a friend of mine recently quit the agency where she used to work as a remote software developer. She moved to another agency where she now does the exact same job. Why? Because even though she works as part of a remote team for clients who are based all around the world, the new agency puts a lot of effort into creating a local community of colleagues where my friend can find a network of support. And this is just one example of how “remote work” doesn’t necessarily have to mean “alone work.”

### Make time for real face-to-face time

A clear example of how remote companies are creating opportunities for real face-to-face conversations to happen is team retreats. [GitLab](/events/gitlab-contribute/), Buffer, Zapier, and HelpScout are some of the companies who organize at least a **yearly team retreat where all of their employees travel to the same place and spend a few days, or even weeks, together**.

[Zapier’s co-founder, Wade Foster, said](https://zapier.com/blog/how-to-run-company-retreat/) that…

>Some things are just better done in person. For instance, it’s hard to have an impromptu, deep conversation with a teammate over Google Hangout **about their kids, some random idea you’ve had improving a secondary process in the company, or company values**. All those things tend to naturally happen in person, while they don’t happen in a remote team unless you force it.

But also, as companies evolve and their teams grow, their retreats change to serve the right purpose.

Buffer’s CEO, Joel Gascoigne, said in an interview with Inc. that…

>When we were a team of less than 30 people, the retreats felt like they could be a productive day-to-day work time for us, a shift towards working together, but continuing with the projects we happened to be working on. **Today our retreats serve less of a purpose of immediate productivity and are more geared towards long-term productivity and meaningful connectedness of the team**.

### Learn from what others are doing right

Other initiatives, like the [Running Remote conference](https://runningremote.com/) taking place in **Bali on June 23–24**, are also trying to create spaces to help distributed companies learn strategies to manage and grow their remote teams. In the case of the Running Remote conference, the fact that they have chosen Bali as their hosting place is no coincidence. Due to its weather, culture, food, and waves, Bali has lately become the place chosen by a lot of companies with distributed teams to organize their team retreats.

At my company, [Microverse](https://www.microverse.org/), we are trying to tackle this issue at an earlier stage. We’re constantly looking for talent all around the world and training it to become remote software developers. **Our students learn in small distributed teams doing remote pair programming, all while working on freelance and open source projects**. And even though learning is happening in an online and distributed fashion, my vision for the future of education and Microverse, is one where our students will also have access to local co-learning spaces where they can find a community that will support them, because everyone benefits from face-to-face time, and that doesn't have to be with co-workers.

What’s really great about the future of remote work is that it doesn’t only help companies access the best talent in the world, but it also helps talent flourish regardless of where people are born. As they say, talent is evenly distributed, but opportunities are not, and we now have the chance to change that.

Hopefully, we will all continue learning how to better manage remote organizations and how to make people in those organizations connect at a much deeper human level And in the process, we will make the world a much fairer place.

### About the guest author

[Ariel Camus](https://twitter.com/arielcamus) is the founder of [Microverse](https://www.microverse.org/),
a company finding the world's untapped talent and training it to become remote software developers. Ariel was previously the co-founder and CEO
of TouristEye, a travel startup that he grew to a million users and sold to Lonely Planet in 2013.

[Photo](https://unsplash.com/photos/tysecUm5HJA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) by Papaioannou Kostas on Unsplash
{: .note}
