.content-container.white-bg
  .container
    .column
      .title
        The Decision Kit
      .description{style: "padding: 16px; line-height: unset; text-align: center"}
        Additional comparisons and detailed information on both products
      = image_tag "/images/devops-tools/decision-kit.png", class: "margin-top10"
      = link_to "View Decision Kit", "/devops-tools/bitbucket-vs-gitlab/decision-kit/", class: "read-more cta-btn", :"data-ga-name" => "View Decision Kit", :"data-ga-location" => "body"
